.App {
  text-align: center;
}

.App-header {
  background-color: #367D56;
  padding: 10px;
  color: #182932;
}

.App-title {
  font-size: .75em;
}

.nowplaying {
  background-image: url(./images/film-strip.jpeg);
  background-repeat: no-repeat;
  background-position: center;
}
