.App {
  text-align: center;
}

.App-header {
  background-color: #367D56;
  padding: 10px;
  color: #182932;
}

.App-title {
  display: flex;
  justify-content: center;

}

.image {
  width: 100%;
  height: auto;

}
.allMovies {
  display: flex;
  justify-content: center;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
  width: 50%;
  height: auto;
}

.nowPlaying {
  display: flex;
  flex-direction: column;
  margin-bottom: 1em;
  padding: 10px;
  border: solid;
  border-radius: 20px;
}

.randomMovie {
  display: flex;
  justify-items: center;
  flex-direction: column;
  width: 75%;
  height: auto;
  margin-bottom: 1em;
  border: solid;
  border-radius: 20px;
}

