.App {
  text-align: center;
}

.App-header {
  background-color: #367D56;
  padding: 10px;
  color: #182932;
}

.App-title {
  display: flex;
  font-size: 1.25em;
}

.allMovies {
  display: flex;
  justify-content: center;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
  width: 100;
}

.nowPlaying {
  display: flex;
  flex-direction: column;
  margin: 1em;
  border: dashed;
  border-radius: 20px;
}

.pet-list {
  display: flex;
  flex-direction: column;
  padding: .5em;
  border-color: #a67762;
  align-items: center;
  width: 40%;
  border: dashed;
  border-radius: 20px;
  padding: 1em;
  margin: 1em;
}
